body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #111;
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  text-align: center;
  padding: 20px;
  background: #b30000;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 32px;
  animation: slideDown 0.8s ease-in-out;
}

section {
  padding: 20px;
  animation: fadeUp 1s ease-in;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h2 {
  color: #b30000;
  margin-bottom: 10px;
  animation: slideDown 0.8s ease-in-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

video, img {
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(179,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img {
  width: 300px;
  height: auto;
  border: 3px solid #b30000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
img:hover, video:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(179, 0, 0, 0.5);
}
.audio-box {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  background: #fff0f0;
  border: 2px solid #b30000;
  border-radius: 10px;
}
